  #home {
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1498681353033-e5632ec6decd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1205&q=80");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .homepage {
    margin: 0;
    border-radius: 10px;
    height: 85vh;
    width: 90%;
    padding: 0px;
    background-color: #fff;
    background-image: url('https://img.freepik.com/free-vector/web-development-programmer-engineering-coding-website-augmented-reality-interface-screens-developer-project-engineer-programming-software-application-design-cartoon-illustration_107791-3863.jpg?t=st=1649761011~exp=1649761611~hmac=3472fe5194eb8ead309d207442f207cda13e4f508350b0d6b51bed1db3e90b2b&w=1380');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .headingBar {
    border-radius: 10px 10px 0px 0px;
    /* background-color: rgba(2, 1, 77, 0.11); */
    background-color: transparent;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-options {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
  }

  .header-options h5 {
    margin-right: 15px;
  }

  .header-options h5:hover {
    color: rgba(0, 0, 110, 0.575);
  }

  .homepage-content{
    background-color: aliceblue;
    width: 100%;
    height: 75vh; 
    border-radius: 0px 0px 10px 10px;
  }

  .social-media{
    
    height: 74vh;
    padding: 0px;
  }

  .profile-pic{
    /* border: 1px solid blue; */
    height: 74vh; 
   
  }

  .profile-content{
    border: 1px solid black;
    height: 74vh;
  }
  
  .social-media{

    display: flex;
    flex-direction: column; 
    align-items: start; 
    justify-content: center;
  }
  .social-media-connect{
    height: 50px;
    width: 50px;
    background-color: #01123d;
    border-radius: 50%;
    margin: 10px 0px 10px 0px; 
    color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 23px;
  }

  .social-media-connect:hover{
    background-color: rgba(0, 0, 110, 0.575);
  }

  .social-media-connect a{
    text-decoration: none;
  }

